{
  "semi": false,
  "overrides": [
    {
      "files": "*.main.js",
      "options": {
        "semi": false
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
